.poster{
    width: 85%;
    margin: auto;
    margin-bottom: 40px;
}
.poster img{
    width: 100%;
    margin-top: 100px;
    z-index: -1;
}
.category_box > h2{
    font-family: "TradeGothicLTW05-BoldNo.2", Arial, sans-serif;
    text-align: center;
}
.category_box{
    /* border: 2px solid red; */
    width: 85%;
    margin: auto;
}
.category{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    width: 100%;
    margin-top: 20px;
}
.category div{
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
    text-decoration: underline;
    box-sizing: border-box;
    color:black;
}
.category h4{
    font-family: "TradeGothicLTW05-BoldNo.2", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.category div img{
    width: 100%;
}
.category div:hover{
    cursor: pointer;
}
.product{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,400px);
    column-gap: 35px;
    row-gap: 100px;
    width: 85%;
    margin: auto;
    margin-top: 60px;
}
.product div{
    /* border: 2px solid black; */
    width: 100%;
    height: auto; 
    text-align: center;
    padding-bottom: 20px;
    color: black;
}
.product img{
    width: 100%;
    margin-bottom: 10px;
}
.product > a > div > p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    font-family: TradeGothicLTW05-Light, Arial, sans-serif;
    text-decoration: none;  
    margin-bottom: 8px;
}
.product h4{
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    line-height: 16px;
    font-family: "TradeGothicLTW05-BoldNo.2", Arial, sans-serif;
    color: #333333;   
}
.gift_poster{
    width: 85%;
    margin: auto;
    margin-top: 140px;
}
.gift_poster img{
    width: 100%;
}
.coupon_button{
    /* border: 1px solid red; */
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 46px;
}
.coupon_button ul{
    display: flex;
    column-gap: 16px;
    row-gap: 24px;
    padding-top: 32px;
    flex-wrap: wrap;
    justify-content: center;
}
.coupon_button li{
    /* border: 3px solid black; */
    list-style: none;
    padding: 14px 0px;
    margin-right: 28px;
    color: aliceblue;   
}
.coupon_button li a{
    background-color: #333333;
    color: aliceblue;
    text-decoration: none;
    padding: 16px 24px;
    font-family: "TradeGothicLTW05-BoldNo.2", Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    line-height: 20px;
}
.coupon_button li :hover{
    background: #efe3e3;
    color: #333333;
}
.policy{
    /* border: 2px solid black; */
    width: 85%;
    height: auto;
    margin: auto;
}
.policy>h2{
    text-align: center;
    font-family: "TradeGothicLTW05-BoldNo.2", Arial, sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}
.policy > div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 40px;
    width: 100%;
    height: auto;
}
.policy > div > a{
    /* border: 2px solid red; */
    text-align: center;
    color: #333333;
    font-size: 13px;
    line-height: 12px;
    font-weight: 600;
    font-family: "TradeGothicLTW05-BoldNo.2", Arial, sans-serif;
}.policy img{
    width: 100%;
}
.intro{
    /* border: 1px solid black; */
    width: 65%;
    margin: auto;
    text-align: center;
    overflow: visible;
    margin-top: 50px;
    font-family: TradeGothicLTW05-Roman,Arial,sans-serif;
}
.intro h1{
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
    font-family: TradeGothicLTW05-Roman,Arial,sans-serif;
    margin-bottom: 20px;
    color: #333333;
}
.intro p{
    margin-top: -5px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 90px;
}
